.white {
    color: white;
}

.lightblue {
    color: rgb(31, 168, 214);
}

.red {
    color: red;
}

.yellow {
    color: rgb(240, 212, 0);
}

.brown {
    color: brown;
}

.green {
    color: greenyellow;
}